
<div class="jumbotron" style="text-align: center">
  <h1 class="display-4 abt-heading">Color PX</h1>
  <p class="lead abt-main">We are a group of photographers. Capturing your best moments in life. We also capture all things around the world (like Streets, Places, Nature, etc..)</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" role="button">Contact Us</a><br>
  <p class="abt-p">See few pictures of our work below. If you want your pictures to be captured like this for an occasion for family events. Click on the above button to get in touch with us</p>
</div>
<div class="container-full">
  <div class="service-back">
    <h1 class="services-head">Services</h1>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="serv-topic">Photo Albums</h3>
          <p class="serv-desc">We provide photo albums for the family occasions and events if required. Albumm types can be selected as per your wish</p>
        </div>
        <div class="col-md-6">
          <h3 class="serv-topic">Candid Photos</h3>
          <p class="serv-desc" >We capture your best candid pictures of you and your family/friends during our serice.</p>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <h3 class="serv-topic">Editing</h3>
          <p class="serv-desc">We also provide a freee service of editing the best Photos of you.</p>
        </div>
        <div class="col-md-6">
          <h3 class="serv-topic">Photo Delivery</h3>
          <p class="serv-desc">We give you the best service of delivering the pictures captured post the event at very short period of time.</p>
          <p>NOTE: The delievery date might vary according to the type of event and the number of Photos that will be provided.</p>
        </div>
      </div>
    </div>
  </div>
</div>
